/*
Adding CSS as I go
There will be a global style and a site specific folder
*/
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* MOVE INTO GLOBAL CSS */
.header{
  text-align:center;
  padding:0px;

}
.headerSub{
  padding:0px;
  text-align:center;
  margin:0px;
}
.container-fluid{
  width: 1080px;
  margin:0px auto;
  position:relative;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  /*
  Test Styles Start
  */
  video {
    max-width:100%;
    height:auto;
  }
  #video_player {
      display: table;
      line-height: 0;
      font-size: 0;
      background: #000;
  }
  #video_player video,
      #video_player figcaption {
          display: table-cell;
          vertical-align: top;
  }
  #video_player figcaption {
      width: 25%;
  }
  #video_player figcaption a {
      display: block;
      opacity: .5;
      transition: 1s opacity;
  }
  #video_player figcaption a img,
      figure video {
          width: 100%;
          height: auto;
  }
  #video_player figcaption a:hover {
      opacity: 1;
  
  
  }
  .grid-child{
    background-color:cornsilk
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
  
    width: 1000px;
    margin:0px auto;
    position:relative;
  }
  /*
  End Test Styles
  */
  
  .card{
    padding:5px;
  }
  .check{
    border:1px solid black;
    width: 180px;
    margin:0px auto;
    position:relative;
  }
  .container-fluid{
    width: 1080px;
    margin:0px auto;
    position:relative;
  }
  button {
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  
  h3, h4 {
    margin-bottom: 0;
  }
  
  nav, footer {
    border-bottom: 4px solid rgb(223, 221, 221);
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
    background: rgb(61, 61, 61);
    color:white
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-weight: bold;
    padding: 16px 32px;
  }
  
  nav a:hover {
    background: rgb(70, 70, 70);
    color: rgb(251, 216, 216);
  }
  
  #page-body {
    max-width: 700px;
    margin: auto;
    padding-top: 64px;
  }
  
  .article-list-item {
    text-decoration: none;
    color: black;
    padding: 16px 0 0 0;
  }
  
  .article-list-item p {
    padding-bottom: 32px;
    border-bottom: 2px solid black;
  }
  
  #add-comment-form {
    border-bottom: 2px solid black;
    padding: 16px;
  }
  
  #add-comment-form h3 {
    margin-bottom: 16px;
  }
  
  #add-comment-form input, textarea {
    display: block;
    width: 300px;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: 2px solid black;
    margin-bottom: 16px;
  }
  
  #add-comment-form button {
    width: 320px;
  }
  
  #upvotes-section button, p {
    display: inline-block;
    margin-right: 16px;
  }
  
  .comment {
    border-bottom: 2px solid black;
    padding: 16px;
  }
  
  
  
  /*
  Globalized
  */
  nav, footer {
    border-bottom: 4px solid black;
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
    background: rgb(61, 61, 61);
    color:white
  }