/*
Adding CSS as I go
There will be a global style and a site specific folder
*/
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* MOVE INTO GLOBAL CSS */
.header {
  text-align: center;
  padding: 0px;
}
.headerSub {
  padding: 0px;
  text-align: center;
  margin: 0px;
}
.container-fluid {
  width: 720px;
  margin: 0px auto;

  border: 2px solid red;
}
.container-fluid-videoplayer {
  width: 720px;
  margin: 0px auto;
  position: relative;
  border: 1px solid green;
}

.temp-container {
  padding-bottom: 200px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.video_icon {
  width: 100%;
}
.video_src_container {
  width: 720px;
  height: 100%;
  border: 1px solid black;
}
.video_icon_container {
  width: 100px;
  height: 100px;
}
/*
  Test Styles Start
  */
video {
  max-width: 100%;
  height: auto;
}
#video_player {
  display: table;
  line-height: 0;
  font-size: 0;
  background: #000;
}
#video_player video,
#video_player figcaption {
  display: table-cell;
  vertical-align: top;
}
#video_player figcaption {
  width: 25%;
}
#video_player figcaption a {
  display: block;
  opacity: 0.5;
  transition: 1s opacity;
}
#video_player figcaption a img,
figure video {
  width: 100%;
  height: auto;
}
#video_player figcaption a:hover {
  opacity: 1;
}
.grid-child {
  background-color: cornsilk;
}

/*
  End Test Styles
  */

.card {
  padding: 5px;
}
.check {
  border: 1px solid black;
  width: 180px;
  margin: 0px auto;
  position: relative;
}
.icon-loader {
  width: 127px;
  height: 129px;
}
.image-uploader {
  height: 127px;
  width: 127px;
  background-color: rgb(158, 187, 156);
  border-radius: 3%;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}
.video-input[type="file"] {
  background-color: pink;
  height: 127px;
  width: 127px;
  opacity: 0;
  z-index: -1;
}
Then all button {
  padding: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h3,
h4 {
  margin-bottom: 0;
}

nav,
footer {
  border-bottom: 4px solid rgb(223, 221, 221);
  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
  background: rgb(61, 61, 61);
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: rgb(253, 253, 253);
  font-weight: bold;
  padding: 16px 32px;
}

nav a:hover {
  background: rgb(70, 70, 70);
  color: rgb(226, 226, 226);
}

#page-body {
  max-width: 700px;
  margin: auto;
  padding-top: 64px;
}

.article-list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}

.article-list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
}

#add-comment-form {
  border-bottom: 2px solid black;
  padding: 16px;
}

#add-comment-form h3 {
  margin-bottom: 16px;
}

#add-comment-form input,
textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

#add-comment-form button {
  width: 320px;
}

#upvotes-section button,
p {
  display: inline-block;
  margin-right: 16px;
}

.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}

/*
  Globalized
  */
nav,
footer {
  border-bottom: 4px solid black;
  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
  background: rgb(61, 61, 61);
  color: white;
}

/*
menustyles 8.5.2021
*/
/* Grid */
.grid-container_vc {
  display: grid;
  grid-gap: 40px 60px;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  width: 720px;
}

.grid-item {
  padding: 5px;
  background-color: antiquewhite;
  width: 100px;
}

.container_vc {
  margin: 0px auto;
  padding: 0px;
  position: relative;
}

.container_xc {
  width: 800px;
  margin: 5px auto;
  position: relative;
}
